{body
font-family: Helvetica, Arial, sans-serif ;
}

#ComingSoonText {
	color: #808080;
}

.centeredImage {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
}

#email {
	color: #ff0000;
}

